.box {
  height: 59px;
  width: 60px;
  position: relative;
}

.box a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #fff;
}

.box a:hover {
  color: #aaa;
}

@media (max-width: 1024px) {
    
    .dropdown-wrapper.jsx-1b9225df978cd56a {
        width: auto;
    }
    
}

@media (max-width: 1024px) {
    .nav-item {
        width: 100%; /* Makes each item take the full width */
        text-align: center; /* Centers the content */
    }
}

